<app-profesor-nav-bar></app-profesor-nav-bar>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Pretraga Studenata" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretraži</button>
  <div ngbDropdown placement="bottom-right" display="dynamic" autoClose=outside class="d-inline-block">
    <img style="margin-left:5px; cursor:pointer;" height="33px;" width="auto" [src]="FILTER" alt=""
      matTooltip="Napredna Pretraga" matTooltipPosition="below" id="dropdownForm1" ngbDropdownToggle>
    <div ngbDropdownMenu aria-labelledby="dropdownForm1" style="margin-top:20px;">
      <app-napredna-pretraga></app-napredna-pretraga>
    </div>
  </div>
</form>

<div class="admin-panel">
  <h3>Pregled Studenata</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Username</th>
        <th scope="col">JMBG</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>32139125191</td>
        <td>email@gmail.com</td>
        <td>
          <i class="material-icons" matTooltip="Detaljnije" matTooltipPosition="above"
            routerLink="/profesorPanel/pregledStudenata/1">
            keyboard_backspace
          </i>
        </td>
      </tr>
    </tbody>
  </table>

</div>
