<div class="admin-panel">
  <h3>Kreiraj Obavestenje</h3>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Naslov</label>
        <input type="text" class="form-control" [class.is-invalid]="createForm.controls.title.errors && createForm.controls.title.touched" formControlName="title" id="title" aria-describedby="emailHelp" placeholder="Naslov">
      </div>

      <label>Sadrzaj</label>
      <angular-editor [placeholder]="'Opis obavestenja'" formControlName="htmlContent" class="pera" [class.is-invalid]="createForm.controls.htmlContent.errors && createForm.controls.htmlContent.touched" id="htmlContent" [config]="config"></angular-editor>

      <button type="submit" class="btn btn-primary" style="margin-top:15px;">Kreiraj</button>
    </form>
</div>
