<app-side-bar></app-side-bar>

<div class="university-details__main discussion__main" #universityMain>
    <div class="university-details__header">
        <!-- <ul>
          <li class="university-details__routes">
            Universities > Faculties > SII > Racunarstvo
          </li>
          <li class="university-details__chat-toggle">
            <p>Chat</p>
            <label class="switch">
              <input #chatBox type="checkbox" checked  (click)="open()">
              <span class="slider round"></span>
            </label>
          </li>
        </ul>
        <hr style=" border:1px solid #ececec;"> -->
      </div>
 <router-outlet></router-outlet>
</div>


<app-chat-side-bar></app-chat-side-bar>
