<h4 class="tab__header">Obaveštenja</h4>

<mat-accordion displayMode="flat" multi class="mat-table" >
    <section matSort class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="vesselName">Naslov</span>
      <span class="mat-header-cell" mat-sort-header="vesselId">Kreirao</span>
      <span class="mat-header-cell" mat-sort-header="vesselStatus">Vreme Objave</span>
    </section>
    <mat-expansion-panel class="mat-panel-body" *ngFor="let notification of notifications">
        <mat-expansion-panel-header class="mat-row" animationDuration="10000ms">
          <span class="mat-cell">{{notification.title}}</span>
          <span class="mat-cell">Aleksandra Mitrović </span>
          <span class="mat-cell">{{notification.createdDate}}</span>
        </mat-expansion-panel-header>
        <div>
          <pre class="announcement__description">
          {{notification.content}}
            </pre>
          <p class="announcement__file">
            <a href="#">
                <i class="material-icons">insert_drive_file</i>
                <p>Kriptologija 1 NS 2019.pdf</p></a>
          </p>
        </div>
      </mat-expansion-panel>
  </mat-accordion>
