<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input type="text" formControlName="username" />
      <div *ngIf="submitted && loginForm.controls.username.errors">
        <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
      <div *ngIf="submitted && loginForm.controls.password.errors">
        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
      </div>
    </div>
    <button [disabled]="loading">
      Login
    </button>
    <div *ngIf="error">{{error}}</div>
  </form>
</div>
