.table td, .table th {
  padding: .55rem;
  vertical-align: middle;

}
.table{
  i{
    cursor:pointer;
    color:#dc3545;
    font-size:32px
  }
}

.edit-row-rable{
  color:#007bff !important;
  font-size:30px !important;
}
