<h3>Podaci O Studentu</h3>

<div class="student-profile__base-info">
  <div class="student-profile__avatar">
    <img
      src="https://previews.123rf.com/images/happyvector071/happyvector0711904/happyvector071190414500/120957417-creative-illustration-of-default-avatar-profile-placeholder-isolated-on-background-art-design-grey-p.jpg"
      alt="">
    <button routerLink="/diskusija/nekaDiskusija" class="send-message__button send-button">
      Posaljite poruku
      <i class="material-icons send-message__icon">send</i>
    </button>

  </div>
  <div class="base-info__table">
    <h4>Osnovni Podaci</h4>

    <table class="table">
      <tbody>
        <tr>
          <th scope="col">Ime</th>
          <td>{{ student.name }}</td>
        </tr>
        <tr>
          <th scope="col">Prezime</th>
          <td>{{ student.lastName }}</td>
        </tr>
        <tr>
          <th scope="col">BrojIndeksa</th>
          <td style="font-weight: 900">2016270267</td>
        </tr>
        <tr>
          <th scope="col">Korisnicko Ime</th>
          <td>{{ student.username }}</td>
        </tr>
        <tr>
          <th scope="col">Email</th>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <th scope="col">JMBG</th>
          <td>{{ student.jmbg }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h4 style="text-align: start">Polozeni Ispiti</h4>
<hr>
<table class="table  table-striped">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">#</th>4 -->
      <th scope="col">Predmet</th>
      <th scope="col">Ocena</th>
      <th scope="col">Broj Bodova</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">3</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">4</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">5</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">6</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">7</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">8</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">9</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">10</th> -->
      <td>Веб дизајн</td>
      <td>10</td>
      <td>96,00</td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr class="thead-light">
      <th scope="col" colspan="100%">Prosecna ocena: 8.50 <span>Zbir ESPB: 128</span></th>
    </tr>
  </thead>
</table>



<h4 style="text-align: start; margin-top:60px;">Neuspesna Polaganja</h4>
<hr>
<table class="table  table-striped">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Predmet</th>
      <th scope="col">Ocena</th>
      <th scope="col">Broj Bodova</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>Веб дизајн</td>
      <td>5</td>
      <td>36,00</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>Веб дизајн</td>
      <td>5</td>
      <td>36,00</td>
    </tr>

  </tbody>
</table>



<h4 style="text-align: start; margin-top:60px;">Prijavljeni Ispiti</h4>
<hr>
<table class="table  table-striped">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Naziv Predmeta</th>
      <th scope="col">ESPB</th>
      <th scope="col">Nastavnik</th>
      <th scope="col">Datum Polaganja</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <th scope="row">1</th> -->
      <td>Веб дизајн</td>
      <td>8</td>
      <td>Обрадовић Ђорђе</td>
      <td>12.09.2019.</td>
    </tr>
    <tr>
      <!-- <th scope="row">2</th> -->
      <td>Веб дизајн</td>
      <td>8</td>
      <td>Обрадовић Ђорђе</td>
      <td>12.09.2019.</td>
    </tr>

  </tbody>
</table>
