<div class="chat-side-bar" #chatSideBar>
  <div class="chat__messsage--wrapper">


  <div class="chat__message">
    <div class="chat__icon">
        <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
    </div>
    <div class="chat__cloud chat__cloud--my">
      <div class="chat__time">
      2:10PM
      </div>
      <p class="chat__message-text">
        Mala bili ciku???
      </p>
    </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
      </div>
      <div class="chat__cloud chat__cloud--my">
        <div class="chat__time">
        2:11PM
        </div>
        <p class="chat__message-text">
          A sada?
        </p>
      </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
      </div>
      <div class="chat__cloud chat__cloud--my">
        <div class="chat__time">
        2:10PM
        </div>
        <p class="chat__message-text">
          ...
        </p>
      </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      </div>
      <div class="chat__cloud chat__cloud--sender">
        <div class="chat__time">
        2:10PM
        </div>
        <p class="chat__message-text">
          It looks like we're missing all the tasks
          to upgrade our paint machines before next month. I'll go add them now.
          It looks like we're missing all the tasks to upgrade our paint machines before next month. I'll go add them now.
        </p>
      </div>
  </div>
</div>
  <div class="chat__reply-input">
    REPLY
  </div>
</div>
