<div class="chat-side-bar" #chatSideBar>
    <ng-scrollbar [visibility]="'hover'">
  <div class="chat__messsage--wrapper">


  <div class="chat__message">
    <div class="chat__icon">
        <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
    </div>
    <div class="chat__cloud chat__cloud--my">
      <div class="chat__time">
      2:10PM
      </div>
      <p class="chat__message-text">
        Mala bili ciku???
      </p>
    </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
      </div>
      <div class="chat__cloud chat__cloud--my">
        <div class="chat__time">
        2:11PM
        </div>
        <p class="chat__message-text">
          A sada?
        </p>
      </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
      </div>
      <div class="chat__cloud chat__cloud--my">
        <div class="chat__time">
        <span>Juče</span>7:10PM
        </div>
        <p class="chat__message-text">
          ...
        </p>
      </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      </div>
      <div class="chat__cloud chat__cloud--sender">
        <div class="chat__time chat__time--sender">
        <span>Henrietta Mueller</span> <span><span>Juče</span>2:10PM</span>
        </div>
        <p class="chat__message-text">
          It looks like we're missing all the tasks
          to upgrade our paint machines before next month. I'll go add them now.
          It looks like we're missing all the tasks to upgrade our paint machines before next month. I'll go add them now.
        </p>
      </div>
  </div>
  <div class="chat__message">
    <div class="chat__icon">
        <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
    </div>
    <div class="chat__cloud chat__cloud--my">
      <div class="chat__time">
      <span>Juče</span>7:10PM
      </div>
      <p class="chat__message-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugit nulla incidunt vitae ut, alias aperiam beatae dolor vel quasi, itaque similique dolorum! Inventore quam qui quae quod, velit maxime.
      </p>
    </div>
</div>
<div class="chat__message">
  <div class="chat__icon">
      <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
  </div>
  <div class="chat__cloud chat__cloud--my">
    <div class="chat__time">
    <span>Juče</span>7:10PM
    </div>
    <p class="chat__message-text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque et, vel assumenda nobis ratione, modi ipsa suscipit aliquid animi natus amet aspernatur necessitatibus? Repellat ex ullam architecto tenetur placeat nihil.
    </p>
  </div>
</div>
<div class="chat__message">
    <div class="chat__icon">
        <img src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
    </div>
    <div class="chat__cloud chat__cloud--my">
      <div class="chat__time">
      <span>Juče</span>7:10PM
      </div>
      <p class="chat__message-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque et, vel assumenda nobis ratione, modi ipsa suscipit aliquid animi natus amet aspernatur necessitatibus? Repellat ex ullam architecto tenetur placeat nihil.
      </p>
    </div>
  </div>
  <div class="chat__message">
      <div class="chat__icon">
          <img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      </div>
      <div class="chat__cloud chat__cloud--sender">
        <div class="chat__time chat__time--sender">
        <span>Henrietta Mueller</span> <span><span>Juče</span>2:10PM</span>
        </div>
        <p class="chat__message-text">
          It looks like we're missing all the tasks
          to upgrade our paint machines before next month. I'll go add them now.
          It looks like we're missing all the tasks to upgrade our paint machines before next month. I'll go add them now.
        </p>
      </div>
  </div>
</div></ng-scrollbar>
  <div class="chat__reply-input">
    <input type="text" placeholder="REPLY">
    <span></span>
    <div class="attach-file"><i class="material-icons">
        attach_file
        </i>
    </div>
  </div>
</div>
