.chat-side-bar{
  background:#e4e7ec;
  position: fixed;
  right:0;
  top:0;
  bottom:0;
  width:300px;
  transition: width .35s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.chat__messsage--wrapper{
  padding-left:10px;
  padding-right:15px;
  padding-top:15px;
  // overflow-y:scroll;
  height:100%;
  padding-bottom:15px;
}
.chat{
  &__message{
    display:flex;
    align-items: center;
    flex:1;
    width: 100%;
    flex-basis: 100%;
    margin-top:11px;
    &:first-child{
      margin-top:0;
    }
  }
  &__icon{
    border-radius:50%;
    height:35px;
    width:35px;
    margin-right:10px;
    img{
      height:100%;
      width:100%;
      border-radius:50%;
    }

  }
  &__time{
    font-size:13px;
    color:#9ca2b4;
    span{
      margin-right:5px;
    }
    &--sender{
      display:flex;
      justify-content: space-between;
      span{
        &:last-child{
          margin-right:0;
        }
        span{
          margin-right:5px;
        }
      }
    }
  }
  &__cloud{
    font-size:13px;
    border-radius:10px;
    padding:10px;
    padding-left:15px;
    flex-basis: calc(100% - 35px);
    &--my{
      background:#dddeef;
      p{
        color:#252453;
      }
    }
    &--sender{
      background:#fff;

      p{
        color:#252453;
      }
    }
  }
  &__message-text{
    margin-top:5px;
  }
}

.chat__reply-input{
  background:#ccc;
  width: 100%;
  color:#727a88;
  position: relative;
  font-size:13px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  bottom:0;
  // margin-top:30px;
  input{
    background:#ccc;
    height:100%;
    width: 100%;
    padding:20px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#252453;
    &:focus{
      + span{
        &::after{
          content:"";
          position:absolute;
          bottom:0;
          width: 100%;
          left:0;
          right:0;
          height:5px;
          background:#a39d9d;
        }
      }

    }
  }
}
