
<h1 style="text-align: center">Stranica Predmeta</h1>
<h3 class="faculty-info__main-header">
  <div style="display:flex">
    <i class="material-icons">menu_book</i>
    <p>Kriptologija 1</p>
  </div>
    <p class="subject-details__espb">8 ESPB</p>
</h3>
<p class="subject-details__description">Na ovom predmetu studenti stiču neophodna znanja iz osnova zaštite
  informacionih sistema uz primenu matematičkog aparata koji je potreban
  za analizu i sintezu savremenih šifarskih sistema. Savladavaju se osnovni
  servisi zaštite informacija: tajnost, integritet, autentifikacija i neporecivost.
   Detaljno se razmatraju svojstva simetričnih i asimetričnih šifarskih sistema.
   Studenti će biti osposobljeni da samostalno procenjuju kvalitet zadatog šifarskog
   sistema i razumeju njegovo mesto i ulogu u savremenom integrisanom računarskom
   okruženju.
</p>
<mat-tab-group style="margin-top:20px;" animationDuration="0ms">
  <mat-tab label="Silabus">
    <app-silabus></app-silabus>
  </mat-tab>
  <mat-tab label="Nastavni Materijal"> Content 3 </mat-tab>
  <mat-tab label="Obavestenja">
    <app-announcement></app-announcement>
  </mat-tab>
  <mat-tab label="Rezultati ispita i kolokvijuma Forum">
    <app-exam-results></app-exam-results>
  </mat-tab>

</mat-tab-group>
