<app-nav-header></app-nav-header>
<div class="student-number-info">
    <i class="material-icons">people</i> Imamo <span>2,000.132</span> registrovanih studenata
</div>
<!-- <div class="wrapper"> -->
<div class="landing-page__info">
  <div class="wrapper">
    <h2>Inspirirajuće učenje za sve</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Recusandae, excepturi? Laudantium vitae, vero impedit accusamus
      sapiente fugit deleniti maiores hic mollitia, eos odio nemo nostrum
      autem soluta provident natus ad.
    </p>
    <button>Pogledajte spisak univerziteta</button>
  </div>
</div>
<div style="background:#e4e5e7;">
  <div class="wrapper">
    <h2 class="university__header">
      Spisak univerziteta
    </h2>
  </div>
  <div class="university-container wrapper">
    <app-university-card></app-university-card>
    <app-university-card></app-university-card>
    <app-university-card></app-university-card>
    <app-university-card></app-university-card>
    <app-university-card></app-university-card>
    <app-university-card></app-university-card>
  </div>
</div>
<app-footer></app-footer>
