<h2 class="faculty-info__main-header">
    <div style="display:flex">
      <i class="material-icons">info</i>
      <p>Osnovne informacije</p>
    </div>

</h2>
<div class="faculty-info__wrapper">
    <div class="faculty-info__left">
      <div class="faculty-info__subheader">
        Nivo studija
      </div>
      <div class="faculty-info__header">
          Osnovne akademske studije
      </div>
      <div class="faculty-info__subheader">
          Zvanje koje se stiče
        </div>
        <div class="faculty-info__header">
            Diplomirani inženjer elektrotehnike i računarstva (Dipl. inž. el.tehn i rač.)
      </div>
      <div class="faculty-info__subheader">
          Trajanje (god/sem)
        </div>
        <div class="faculty-info__header">
            4 / 8
      </div>
      <div class="faculty-info__subheader">
          Ukupan broj ESPB bodova
        </div>
        <div class="faculty-info__header">
          240
      </div>

    </div>
    <div class="faculty-info__right">
      <div class="faculty-info__image">
        <img src="http://www.ftn.uns.ac.rs/n2056385208" alt="">
      </div>
      <div class="faculty-info__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Quo tenetur dolores aut, perferendis quasi id expedita!
        Sed cupiditate, hic exercitationem, atque dolor impedit aspernatur
        nobis eveniet fugiat, voluptas qui incidunt?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Quo tenetur dolores aut, perferendis quasi id expedita!
        Sed cupiditate, hic exercitationem, atque dolor impedit aspernatur
        nobis eveniet fugiat, voluptas qui incidunt?
      </div>
    </div>
  </div>
<app-responsible-rector></app-responsible-rector>
<h3 class="faculty__header"><i class="material-icons">file_copy</i>
  <p>Plan studijstog programa</p>
</h3>
<div class="table-wrapper__border">
    <table class="faculty__table">
      <tr class="faculty__thead--primary">
        <th>Predmet</th>
        <th>Pr.</th>
        <th>Aud.</th>
        <th>DON</th>
        <th>Ost.</th>
        <th>ESPB</th>
        <th>Izv.</th>
      </tr>
      <tr class="faculty__thead--secondary">
        <th colspan="100%">GODINA 1</th>
      </tr>
      <tr class="faculty__tbody" >
        <td><a href="#">Matematika 1</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
        <td><a href="#">Izborni predmet - strani jezik</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
        <td><a href="#">Hemija u masintvu</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
        <td><a href="#">Digitalna forenzika</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
          <td><a href="#">Elektronika</a></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
      </tr>
       <!--==== ZA BRISANJE ->> ====-->
        <!--==== ZA BRISANJE ->> ====-->
         <!--==== ZA BRISANJE ->> ====--> <!--==== ZA BRISANJE ->> ====-->
          <!--==== ZA BRISANJE ->> ====-->
<tr class="faculty__thead--secondary">
        <th colspan="100%">GODINA 1</th>
      </tr>
      <tr class="faculty__tbody" >
        <td><a href="#">Matematika 1</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
        <td><a href="#">Izborni predmet - strani jezik</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
        <td><a href="#">Hemija u masintvu</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
        <td><a href="#">Digitalna forenzika</a></td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr class="faculty__tbody">
          <td><a href="#">Elektronika</a></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
      </tr>



      <!--==== ZA BRISANJE ->> ====-->
       <!--==== ZA BRISANJE ->> ====-->
        <!--==== ZA BRISANJE ->> ====-->
         <!--==== ZA BRISANJE ->> ====-->
      <tr class="faculty__thead--secondary">
          <th colspan="100%">GODINA 1</th>
        </tr>
        <tr class="faculty__tbody" >
          <td><a href="#">Matematika 1</a></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr class="faculty__tbody">
          <td><a href="#">Izborni predmet - strani jezik</a></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr class="faculty__tbody">
          <td><a href="#">Hemija u masintvu</a></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr class="faculty__tbody">
          <td><a href="#">Digitalna forenzika</a></td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr class="faculty__tbody">
            <td><a href="#">Elektronika</a></td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </table>
</div>
