<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item nav-item--success">
        <div routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="btn-group" ngbDropdown
          role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-success color-white" ngbDropdownToggle>Kreiraj</button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button routerLink="/profesorPanel/kreirajIshodSilabusa" routerLinkActive="is-active" ngbDropdownItem>
              <span>Ishod Silabusa</span></button>
            <button routerLink="/profesorPanel/kreirajObavestenje" routerLinkActive="is-active" ngbDropdownItem>
              <span>Obavestenje</span></button>
            <!-- <button routerLink="/profesorPanel/kreirajStudenta" routerLinkActive="is-active" ngbDropdownItem> <span>Studenta</span></button> -->
          </div>
        </div>
      </li>
      <li class="nav-item nav-item--primary">
        <div routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="btn-group" ngbDropdown
          role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary color-white" id="dropdownConfig" ngbDropdownToggle>Upravljaj</button>
          <div ngbDropdownMenu aria-labelledby="dropdownConfig">
            <button routerLink="/profesorPanel/upravljanjeSilabusa" routerLinkActive="is-active"
              ngbDropdownItem><span>Silabusom</span></button>
            <button routerLink="/profesorPanel/upravljanjeObavestenjima" routerLinkActive="is-active"
              ngbDropdownItem><span>Obavestenjima</span></button>
          </div>
        </div>
      </li>
      <!-- <li class="nav-item nav-item--destroy">
            <div routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-danger color-white" ngbDropdownToggle>Obriši</button>
                <div class="dropdown-menu" profesorPanel/obrisiProfesora" routerLinkActive="is-active" ngbDropdownItem><span>Profesora</span></button>
                  <button routerLink="/profesorPanel/obrisiStudenta" routerLinkActive="is-active" ngbDropdownItem><span>Studenta</span></button>
                </div>
              </div>
        </li> -->
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown1" role="button">
          Pregled
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <a routerLink="/profesorPanel/pregledStudenata" class="dropdown-item" href="#"
            (click)="$event.preventDefault()">Studenata</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
