/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body{
width: 100%;
height: 100%;
margin: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
// html {
//   font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

//   @include respond(phone) { // width < 600
//     font-size: 50.25%; //1 rem = 9px, 9/16 = 50%
//   }

//   @include respond(tab-land) { // width < 1200?
//       font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
//   }

//   @include respond(tab-port) { // width < 900?
//       font-size: 50%; //1 rem = 8px, 8/16 = 50%
//   }

//   @include respond(big-desktop) {
//       font-size: 75%; //1rem = 12, 12/16
//   }
// }


ul,
ol{
  list-style: none;
}

// a{
//   text-decoration: none;
//   &:hover{
//     text-decoration: none;
//   }
// }

// textarea {
//   resize: none;
// }

button{
// outline: none;
cursor: pointer;
border: 0;
// height: 100%;
font-size: 100%;
font-family: inherit;
// padding: 0 !important;
// margin: 0  !important;
&:focus{
  outline: none;
  border: 0;
}
}

// input{
//   outline: none;
//   border:none;
// }

//input type="number" HIDE ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}


  .wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    width: 960px; /* 2 */
  }





  .university-details__main{
    margin-left:100px;
    margin-right:300px;
    word-wrap: break-word;
    padding:0 20px;
    padding-top:20px;
    transition: margin-right 0.5s;
  }

  .university-details__header{

    ul{
      padding-bottom:20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }

  .university-details__chat-toggle{
    display:flex;
    // justify-content: center;
    align-items: center;
    p{
      margin-right:5px;
    }
  }

  .faculties{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #354350;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #354350;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
