<div class="university-card">
    <div class="university-card__background">
      <div class="university-card__image">
        <img src="http://cdn.onlinewebfonts.com/svg/img_379742.png" alt="" height="100px">
      </div>
    </div>
    <div class="university-card__content">
      <div class="university-card__header">
        {{university.name}}
      </div>
      <div class="university-card__description">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe sunt,
       fugiat at quas totam eius adipisci est odio dolore tenetur iusto nihil
       id culpa, quia corporis corrupti incidunt quibusdam ipsum.
      </div>
      <div class="university-card__button">
        <button routerLink="/university/{{university.id}}">Više o univerzitetu</button>
      </div>
   </div>
</div>
