<div class="admin-panel">
  <h3>Upravljaj Studentom</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td>Otto</td>
        <td>@{{ employee.username }}</td>
        <td>{{ employee.email }}</td>
        <td>
            <i class="material-icons edit-row-rable"
            [routerLink]="'/admin/employee/' + employee.id"
            matTooltip="Uredi"
            matTooltipPosition="above">
                edit
                </i>
          <i class="material-icons"
          matTooltip="Obriši"
          matTooltipPosition="above">delete_forever</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
