<div class="university-rector">
    <h3><i class="material-icons">person</i> Lice odgovorno za univerzitet</h3>
    <hr style=" border:1px solid #ececec;">
    <div class="university-rector__flex">
   <div class="university-rector__profile-image">
     <img height="60px" width="60px;" src="http://www.ftn.uns.ac.rs/n1524913729" alt="">
     Rektor
   </div>
   <div class="university-rector__name">
       Obradović dr Ratko
   </div>
   <div class="university-rector__contact">
     <div class="university-rector__phone">
         <i class="material-icons">phone</i>
         <p>+3812164121321</p>
     </div>
     <div class="university-rector__email">
         <i class="material-icons">email</i>
         <p>test@gmail.com</p>
     </div>
   </div>
   </div>
 </div>
