<!-- <div ngbDropdownMenu aria-labelledby="dropdownForm1"  style="margin-top:20px;"> -->
<h3>
  Napredna pretraga
</h3>
<form class="px-4 py-3">
  <h4>Pretrazi po:</h4>
  <div class="form-group advanced-search__group">
    <div class="advanced-search__item">
        <label for="name">Imenu</label>
        <input type="text" class="form-control" id="name" placeholder="Ime">
    </div>
    <div class="advanced-search__item">
        <label for="lastName">Prezimenu</label>
        <input type="text" class="form-control" id="lastName" placeholder="Prezime">
    </div>
  </div>
  <div class="form-group advanced-search__group">
      <div class="advanced-search__item">
          <label for="indexNumber">Broju Indeksa</label>
          <input type="text" class="form-control" id="indexNumber" placeholder="Broj Indeksa">
      </div>
      <div class="advanced-search__item">
          <label for="yearOfEnrollment">Godini Upisa</label>
          <input type="text" class="form-control" id="yearOfEnrollment" placeholder="Godina Upisa">
      </div>
    </div>
  <div class="form-group" >
    <label for="averageGrade">Prosecnoj oceni</label>
    <input type="number" step="0.1" min="6" max="10" class="form-control" id="averageGrade" placeholder="Prosecna Ocena">
  </div>
  <button type="submit" class="btn btn-primary">Pretraži</button>
</form>
