<div class="admin-panel">
    <h3>Upravljaj Studentom</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Username</th>
            <th scope="col">JMBG</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>32139125191</td>
            <td>email@gmail.com</td>
            <td>
                <i class="material-icons edit-row-rable"
                matTooltip="Uredi"
                matTooltipPosition="above">
                    edit
                    </i>
              <i class="material-icons"
              matTooltip="Obriši"
              matTooltipPosition="above">delete_forever</i>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>32139125191</td>
            <td>email@gmail.com</td>
            <td>
                <i class="material-icons edit-row-rable"
                matTooltip="Uredi"
                matTooltipPosition="above">
                    edit
                    </i>
              <i class="material-icons"
              matTooltip="Obriši"
              matTooltipPosition="above">delete_forever</i>
            </td>
          <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>32139125191</td>
            <td>email@gmail.com</td>
            <td>
                <i class="material-icons edit-row-rable"
                matTooltip="Uredi"
                matTooltipPosition="above">
                    edit
                    </i>
              <i class="material-icons"
              matTooltip="Obriši"
              matTooltipPosition="above">delete_forever</i>
            </td>
          </tr>
        </tbody>
      </table>

  </div>
